{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "react-hooks"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true
  },
  "rules": {
//    "import/no-unresolved": "off",
    "template-curly-spacing" : "off",
    "camelcase": "off",
    "indent" : "off",
    "array-callback-return": 0,
    "no-class-assign": 0,
    "func-names": 0,
    "quotes": 0,
    "quote-props": 0,
    "jsx-quotes": 1,
    "dot-notation": 0,
    "no-param-reassign": ["error", { "props": false }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": 0,
    "react/destructuring-assignment": "off",
    "react/no-unused-prop-types": 1,
    "react/jsx-no-bind": 0,
    "react/no-array-index-key": 0,
    "react/forbid-prop-types": 0,
    "comma-dangle": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/anchor-has-content": 0,
    "jsx-a11y/label-has-for": 0,
    "import/no-named-as-default": 0,
    "eslint-plugin-flowtype": ["no-undef", "no-unused-vars"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
